/************ Global ********/
* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(1, 1, 31);
  color: #9799a7;
}
img {
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: right;
  margin: 8px 0 0 20px;
  padding: 4px;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-block-start: 1px;
  padding-block-end: 1px;
  width: 80%;
}
/********* Header *******/
header {
  background: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page_title {
}
.page_subtitle {
}
.menu_bar {
}
/*********** Body ********/
#body {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  background: lightblue;
}
.body_title {
  margin: 10px;
  padding: 10px;
}
.body_text {
  margin: 10px;
  padding: 10px;
}
.caption-right {
  float: right;
  margin: 0.5%;
  width: 50%;
  display: flex;
}
.caption-right li {
  list-style-type: none;
  display: inline-block;
}

.caption_left {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 30%;
  display: block;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}
/******* Footer ******/
footer {
}
.footer_title {
  margin: 10px;
  padding: 10px;
}
.footer_menu {
  margin: 10px;
  padding: 10px;
}

.menu-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
}

.menu {
  border: 1px solid #fff; /* For debugging */
  width: 900px;
}
.sidebar {
  background: transparent;
  float: right;
  width: 15%;
  display: block;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.three_paragraphs {
  display: flex;
  background-color: darkslategray;
  justify-content: space-evenly;
  border-radius: 12px;
}

.three_paragraphs p {
  color: wheat;
  width: 33%;
  background-color: black;
  border-radius: 12px;
}
.two_columns {
  justify-content: space-evenly;
  display: flex;
  /* background-color: green; */
}
.lower_column {
  width: 45%;

  /* background-color: red; */
}
.button {
  background-color: rgb(38, 111, 111);
  border: none;
  color: wheat;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: cadetblue;
  color: red;
}
.button {
  transition-duration: 0.4s;
}
.button2 {
  background-color: rgb(9, 21, 21);
  border: none;
  color: wheat;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  border-radius: 12px;
}
.button2 {
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: cadetblue;
  color: red;
}
.button2 {
  transition-duration: 0.4s;
footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
